.gallery-header{
    max-width: 100%;
    width: 100%;
    height: 40px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: flex-start;
}
.slider-img{
    width: 200px;
    height: 200px;
}
.slider-item{
    width: 200px;
    height: 200px;
    margin: 30px;

}
.slider{
    display: flex;
    
}