body{
    background-color: rgb(75, 66, 91);
}
.header{
    background-image: url(../image/image8.jpg);
    max-width: 100%;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex; 
    justify-content: start;
    position: fixed;  
}
.fonts{
	font-family: "ALK Life", sans-serif;
}
.fonts1{
	font-family: 'ALKDots';
}

.navigation-box{
    display: flex;
    margin-top: 0px;
    position: fixed;
}
.logo{
    width: 30px;
    margin-left: 10px;
}
.ul-li{
    display: flex;
    margin-left: 200px;
}
.list-a{
    margin: 20px;
    color: white;
    font-size: 20px;
    font-style: italic;
}
.list-a:hover{
    font-size: 25px;
    color: red;
}
.burger-bar{
    display: none;
    width: 30px;
    height: 30px;
    margin-left: 180px;   
}
.fa-bars{
    font-size: 30px;
    color: darkorange;
    
}
.search-icon{
    width: 15px;
    position: absolute;
    color: bisque;
    margin-left: 675px;
    margin-top: 5px;
}
.search-bar-container{
    margin-left: 50px;
}

.text-box{
    max-width: 100%;
    width: 550px;
    height: 60;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;   
}
.header-title{
    font-size: 42px;
    margin-top: 20px;


}
.block{
    max-width: 100%;
    width: 870px;
    height: 89px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;

}
.mini-block{
    width: 160px;
    height: 60px;
    margin-left: 15px;
    font-size: 17px;
    color: blue;
    align-items: center;
}
.mini-text{
    color: grey;
}
.enter-block{
    width:140px ;
    height: 40px;
    background-color: darkslateblue;
    border-radius: 50px;
    color: aqua;
    text-align: center;
    vertical-align: bottom;
}
.wraper{
    max-width: 100%;
    width: 1680px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 70px;
}
.fa-virus-covid{
    font-size: 35px;
    color: blue;
    margin-bottom: 5px;
}
.box-img{
    width: 35px;
    margin-bottom: 5px;
}
.wraper-box{
    width: 280px;
    height: 245px;
    flex-direction: column;
    align-items: center;
    font-size: small;
}
.wraper-text{
    margin-top: 5px;
    width: 150px;
}
/* section2 */

.container{
    max-width: 100%;
    width: 1200px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-style: italic;
    
}
.section-title{
    font-size: 42px;
    text-align: center;
    margin-top: 10px;
}
.container2{
    max-width: 100%;
    width: 1850px;
    height: 1450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}



.container-block{
    max-width: 100%;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    
}
.block-image{
    max-width: 100%;
    width: 450px;
    height: 280px;
    margin-bottom: 10px;
    border-radius: 20px;
    
}
.mini-box{
    max-width: 100%;
    width: 450px;
    height: 42px;
    display: flex;
    justify-content: start;
    margin-top: 25px;
    
  
}
.box-text{
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 25px;
} 
/* footer */
.foot-block{
    max-width: 100%;
    width: 1400px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.foot-icon{
    font-size: 25px;
    color: dodgerblue;
}
/* services page */
.header2{
    background-image: url(../image7.jpg);
    max-width: 100%;
    width: 100%;
    height: 900px; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navi{
    display: flex;
}
.h2-text{
    position: absolute;
    color: aqua;
    font-size: 46px;
    margin-top: 200px;
    
}
.page-text{
    color: rgb(223, 197, 222);
    font-size: 20px;
    margin-top: 350px;
    margin-left: 400px;
}
.start-box{
    width: 220px;
    height: 50px;
    margin: 0 auto;
    background-color: #03CFFF;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    margin-top: 25px;
}
.wraper2{
    max-width: 100%;
    width: 1070px;
    height: 165px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    color: whitesmoke;
}
.block1{
    align-items: center;
    
    text-align: center;
}
.block1-h2{
font-size: 18px;
margin-top: 10px;
margin-bottom: 10px;
}
.block1-h3{
    font-size: 25px;
}
/* contact page */
.contact-header{
    max-width: 100%;
    width: 100%;
    height: 40px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: flex-start;
    
}
.action{
    max-width: 100%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.description{
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-left: 100px;
}
.input-form{
    width: 150px;
    height: 30px;
    border: none;
    margin-bottom: 5px;
   
   

}
.input{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.send{
    
    width: 80px;
    height: 40px;
    color: #fff;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 5px;
}

